doc/ChronopostDoc/WSDL/TrackingServiceWS.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="TrackingServiceWSService" targetNamespace="http://cxf.tracking.soap.chronopost.fr/" xmlns:ns1="http://cxf.apache.org/bindings/xformat" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cxf.tracking.soap.chronopost.fr/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://cxf.tracking.soap.chronopost.fr/" xmlns:tns="http://cxf.tracking.soap.chronopost.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:complexType name="resultTrackWithSenderRef">
<xs:sequence>
<xs:element name="errorCode" type="xs:int"/>
<xs:element minOccurs="0" name="errorMessage" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="listParcel" nillable="true" type="tns:listEvents"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="listEvents">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="events" nillable="true" type="tns:event"/>
<xs:element minOccurs="0" name="skybillNumber" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="event">
<xs:sequence>
<xs:element minOccurs="0" name="code" type="xs:string"/>
<xs:element minOccurs="0" name="eventDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="eventLabel" type="xs:string"/>
<xs:element minOccurs="0" name="highPriority" type="xs:boolean"/>
<xs:element minOccurs="0" name="NPC" type="xs:string"/>
<xs:element minOccurs="0" name="officeLabel" type="xs:string"/>
<xs:element minOccurs="0" name="zipCode" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="resultTrackSearch">
<xs:sequence>
<xs:element name="errorCode" type="xs:int"/>
<xs:element minOccurs="0" name="errorMessage" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="listInfosPOD" nillable="true" type="tns:infosPOD"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="infosPOD">
<xs:sequence>
<xs:element minOccurs="0" name="dateDeposit" type="xs:dateTime"/>
<xs:element minOccurs="0" name="depositCountry" type="xs:string"/>
<xs:element minOccurs="0" name="depositZipCode" type="xs:string"/>
<xs:element minOccurs="0" name="objectType" type="xs:string"/>
<xs:element minOccurs="0" name="recipientCity" type="xs:string"/>
<xs:element minOccurs="0" name="recipientCountry" type="xs:string"/>
<xs:element minOccurs="0" name="recipientName" type="xs:string"/>
<xs:element minOccurs="0" name="recipientRef" type="xs:string"/>
<xs:element minOccurs="0" name="recipientZipCode" type="xs:string"/>
<xs:element minOccurs="0" name="shipperCity" type="xs:string"/>
<xs:element minOccurs="0" name="shipperRef" type="xs:string"/>
<xs:element minOccurs="0" name="shipperZipCode" type="xs:string"/>
<xs:element minOccurs="0" name="significantEvent" type="tns:event"/>
<xs:element minOccurs="0" name="skybillNumber" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="resultTrackSkybillV2">
<xs:sequence>
<xs:element name="errorCode" type="xs:int"/>
<xs:element minOccurs="0" name="errorMessage" type="xs:string"/>
<xs:element minOccurs="0" name="listEventInfoComp" type="tns:listEventInfoComps"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="listEventInfoComps">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="events" nillable="true" type="tns:eventInfoComp"/>
<xs:element minOccurs="0" name="skybillNumber" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="eventInfoComp">
<xs:complexContent>
<xs:extension base="tns:event">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="infoCompList" nillable="true" type="tns:infoComp"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="infoComp">
<xs:sequence>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="value" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="resultCancelSkybill">
<xs:sequence>
<xs:element name="errorCode" type="xs:int"/>
<xs:element minOccurs="0" name="errorMessage" type="xs:string"/>
<xs:element name="statusCode" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="resultTrackSkybill">
<xs:sequence>
<xs:element name="errorCode" type="xs:int"/>
<xs:element minOccurs="0" name="errorMessage" type="xs:string"/>
<xs:element minOccurs="0" name="listEvents" type="tns:listEvents"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="resultSearchPOD">
<xs:sequence>
<xs:element name="errorCode" type="xs:int"/>
<xs:element minOccurs="0" name="errorMessage" type="xs:string"/>
<xs:element minOccurs="0" name="formatPOD" type="xs:string"/>
<xs:element minOccurs="0" name="pod" type="xs:base64Binary"/>
<xs:element name="podPresente" type="xs:boolean"/>
<xs:element name="statusCode" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="resultSearchPODWithSenderRef">
<xs:sequence>
<xs:element name="errorCode" type="xs:int"/>
<xs:element minOccurs="0" name="errorMessage" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="listParcelPOD" nillable="true" type="tns:parcelPOD"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="parcelPOD">
<xs:sequence>
<xs:element minOccurs="0" name="formatPOD" type="xs:string"/>
<xs:element minOccurs="0" name="pod" type="xs:base64Binary"/>
<xs:element name="podPresente" type="xs:boolean"/>
<xs:element minOccurs="0" name="skybillNumber" type="xs:string"/>
<xs:element name="statusCode" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:element name="trackWithSenderRef" type="tns:trackWithSenderRef"/>
<xs:complexType name="trackWithSenderRef">
<xs:sequence>
<xs:element minOccurs="0" name="accountNumber" type="xs:string"/>
<xs:element minOccurs="0" name="password" type="xs:string"/>
<xs:element minOccurs="0" name="language" type="xs:string"/>
<xs:element minOccurs="0" name="sendersRef" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="trackWithSenderRefResponse" type="tns:trackWithSenderRefResponse"/>
<xs:complexType name="trackWithSenderRefResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:resultTrackWithSenderRef"/>
</xs:sequence>
</xs:complexType>
<xs:element name="trackSearch" type="tns:trackSearch"/>
<xs:complexType name="trackSearch">
<xs:sequence>
<xs:element minOccurs="0" name="accountNumber" type="xs:string"/>
<xs:element minOccurs="0" name="password" type="xs:string"/>
<xs:element minOccurs="0" name="language" type="xs:string"/>
<xs:element minOccurs="0" name="consigneesCountry" type="xs:string"/>
<xs:element minOccurs="0" name="consigneesRef" type="xs:string"/>
<xs:element minOccurs="0" name="consigneesZipCode" type="xs:string"/>
<xs:element minOccurs="0" name="dateDeposit" type="xs:string"/>
<xs:element minOccurs="0" name="dateEndDeposit" type="xs:string"/>
<xs:element minOccurs="0" name="parcelState" type="xs:string"/>
<xs:element minOccurs="0" name="sendersRef" type="xs:string"/>
<xs:element minOccurs="0" name="serviceCode" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="trackSearchResponse" type="tns:trackSearchResponse"/>
<xs:complexType name="trackSearchResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:resultTrackSearch"/>
</xs:sequence>
</xs:complexType>
<xs:element name="trackSkybillV2" type="tns:trackSkybillV2"/>
<xs:complexType name="trackSkybillV2">
<xs:sequence>
<xs:element minOccurs="0" name="language" type="xs:string"/>
<xs:element minOccurs="0" name="skybillNumber" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="trackSkybillV2Response" type="tns:trackSkybillV2Response"/>
<xs:complexType name="trackSkybillV2Response">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:resultTrackSkybillV2"/>
</xs:sequence>
</xs:complexType>
<xs:element name="cancelSkybill" type="tns:cancelSkybill"/>
<xs:complexType name="cancelSkybill">
<xs:sequence>
<xs:element minOccurs="0" name="accountNumber" type="xs:string"/>
<xs:element minOccurs="0" name="password" type="xs:string"/>
<xs:element minOccurs="0" name="language" type="xs:string"/>
<xs:element minOccurs="0" name="skybillNumber" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="cancelSkybillResponse" type="tns:cancelSkybillResponse"/>
<xs:complexType name="cancelSkybillResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:resultCancelSkybill"/>
</xs:sequence>
</xs:complexType>
<xs:element name="trackSkybill" type="tns:trackSkybill"/>
<xs:complexType name="trackSkybill">
<xs:sequence>
<xs:element minOccurs="0" name="language" type="xs:string"/>
<xs:element minOccurs="0" name="skybillNumber" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="trackSkybillResponse" type="tns:trackSkybillResponse"/>
<xs:complexType name="trackSkybillResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:resultTrackSkybill"/>
</xs:sequence>
</xs:complexType>
<xs:element name="searchPOD" type="tns:searchPOD"/>
<xs:complexType name="searchPOD">
<xs:sequence>
<xs:element minOccurs="0" name="accountNumber" type="xs:string"/>
<xs:element minOccurs="0" name="password" type="xs:string"/>
<xs:element minOccurs="0" name="language" type="xs:string"/>
<xs:element minOccurs="0" name="skybillNumber" type="xs:string"/>
<xs:element name="pdf" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
<xs:element name="searchPODResponse" type="tns:searchPODResponse"/>
<xs:complexType name="searchPODResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:resultSearchPOD"/>
</xs:sequence>
</xs:complexType>
<xs:element name="searchPODWithSenderRef" type="tns:searchPODWithSenderRef"/>
<xs:complexType name="searchPODWithSenderRef">
<xs:sequence>
<xs:element minOccurs="0" name="accountNumber" type="xs:string"/>
<xs:element minOccurs="0" name="password" type="xs:string"/>
<xs:element minOccurs="0" name="language" type="xs:string"/>
<xs:element minOccurs="0" name="sendersRef" type="xs:string"/>
<xs:element name="pdf" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
<xs:element name="searchPODWithSenderRefResponse" type="tns:searchPODWithSenderRefResponse"/>
<xs:complexType name="searchPODWithSenderRefResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:resultSearchPODWithSenderRef"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="trackSearchResponse">
    <wsdl:part element="tns:trackSearchResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchPODWithSenderRef">
    <wsdl:part element="tns:searchPODWithSenderRef" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="trackSkybillResponse">
    <wsdl:part element="tns:trackSkybillResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="trackSearch">
    <wsdl:part element="tns:trackSearch" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelSkybill">
    <wsdl:part element="tns:cancelSkybill" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="trackSkybill">
    <wsdl:part element="tns:trackSkybill" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelSkybillResponse">
    <wsdl:part element="tns:cancelSkybillResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchPODWithSenderRefResponse">
    <wsdl:part element="tns:searchPODWithSenderRefResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchPODResponse">
    <wsdl:part element="tns:searchPODResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="trackWithSenderRef">
    <wsdl:part element="tns:trackWithSenderRef" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="trackSkybillV2">
    <wsdl:part element="tns:trackSkybillV2" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="trackWithSenderRefResponse">
    <wsdl:part element="tns:trackWithSenderRefResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchPOD">
    <wsdl:part element="tns:searchPOD" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="trackSkybillV2Response">
    <wsdl:part element="tns:trackSkybillV2Response" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TrackingServiceWS">
    <wsdl:operation name="trackWithSenderRef">
      <wsdl:input message="tns:trackWithSenderRef" name="trackWithSenderRef">
    </wsdl:input>
      <wsdl:output message="tns:trackWithSenderRefResponse" name="trackWithSenderRefResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="trackSearch">
      <wsdl:input message="tns:trackSearch" name="trackSearch">
    </wsdl:input>
      <wsdl:output message="tns:trackSearchResponse" name="trackSearchResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="trackSkybillV2">
      <wsdl:input message="tns:trackSkybillV2" name="trackSkybillV2">
    </wsdl:input>
      <wsdl:output message="tns:trackSkybillV2Response" name="trackSkybillV2Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelSkybill">
      <wsdl:input message="tns:cancelSkybill" name="cancelSkybill">
    </wsdl:input>
      <wsdl:output message="tns:cancelSkybillResponse" name="cancelSkybillResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="trackSkybill">
      <wsdl:input message="tns:trackSkybill" name="trackSkybill">
    </wsdl:input>
      <wsdl:output message="tns:trackSkybillResponse" name="trackSkybillResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchPOD">
      <wsdl:input message="tns:searchPOD" name="searchPOD">
    </wsdl:input>
      <wsdl:output message="tns:searchPODResponse" name="searchPODResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchPODWithSenderRef">
      <wsdl:input message="tns:searchPODWithSenderRef" name="searchPODWithSenderRef">
    </wsdl:input>
      <wsdl:output message="tns:searchPODWithSenderRefResponse" name="searchPODWithSenderRefResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TrackingServiceWSServiceSoapBinding" type="tns:TrackingServiceWS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="trackWithSenderRef">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="trackWithSenderRef">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="trackWithSenderRefResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="trackSearch">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="trackSearch">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="trackSearchResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="trackSkybillV2">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="trackSkybillV2">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="trackSkybillV2Response">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelSkybill">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="cancelSkybill">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cancelSkybillResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="trackSkybill">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="trackSkybill">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="trackSkybillResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchPOD">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="searchPOD">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="searchPODResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchPODWithSenderRef">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="searchPODWithSenderRef">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="searchPODWithSenderRefResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TrackingServiceWSService">
    <wsdl:port binding="tns:TrackingServiceWSServiceSoapBinding" name="TrackingServiceWSPort">
      <soap:address location="https://ws.chronopost.fr/tracking-cxf/TrackingServiceWS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>